<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% assets "scss_all" %}
    <link rel="stylesheet" href="../static/styles/style.css">
    {% endassets%}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <title>Todo</title>
</head>

<body>
    <div class="container mt-3">
        <div class="row justify-content-md-center">
            <div class="col-lg-6 col-md-12 align-content-center bg-secondary py-3 alerts">
                <h1 class="text-center text-light my-3">Todo App</h1>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                {%if category == "warning"%}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    <lead class="font-weight-normal">{{message}} <i class="fas fa-exclamation-triangle"></i></lead>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {%endif%}
                {%if category == "success" or category=="danger"%}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    <lead class="font-weight-normal text-dark">{{message}} <i class="fas fa-check-circle"></i></lead>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {%endif%}
                {% endfor %}
                {% endif %}
                {% endwith %}
                <form action="/add" method="POST">
                    <div class="mb-3">
                        <!-- <label for="description" class="form-label lead">Title</label> -->
                        <input type="text" name="description" placeholder="Your todo.." class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary submit">Submit <i
                            class="far fa-arrow-alt-circle-right"></i></button>
                </form>
                {% for task in tasks_list %}
                <!-- <div class="card">
               <h4>{{task.description}}</h4>
               <a href="/update/{{task.id}}" class="btn btn-warning">Update</a>
               <a href="/delete/{{task.id}}" class="btn btn-danger">Delete</a>
           </div> -->

                <div class="card py-3 my-3" style="width: 28rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{task.description}}</h5>
                        <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt
                            laudantium
                            itaque doloremque.</p> -->
                        <a href="/update/{{task.id}}" class="btn btn-warning">Update <i class="fas fa-pen"></i></a>
                        <a href="/delete/{{task.id}}" class="btn btn-danger">Delete <i class="fas fa-trash"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-6 col-md-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore delectus
                tempore, nisi quis aliquam reprehenderit tenetur rerum numquam eos, obcaecati qui provident placeat
                dignissimos? Officia numquam voluptatem vel ducimus quo.</div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/bd9f61eaab.js" crossorigin="anonymous"></script>

</html>