$bg-primary: #EBF9FA;
$text-primary: #EBF9FA;
$text-secondary: #1f1f1f;
$bg-blue: #07689F;
$bg-success: #9DDFD3;
$bg-danger: #D7385E;
$bg-warning: #FFC93C;
$bg-purple: #31326F;
$bg-red: #D7385E;


* {
    font-family: 'Montserrat', sans-serif;
    border-radius: 1px !important;
}

.newSuccess {
    background: $bg-success;
    color: $text-secondary;
}

.newDanger {
    background: $bg-danger;
    color: $text-primary;
}

.newWarning {
    background: $bg-warning;
    color: $text-secondary;
}

.nav-box {

    min-height: 20vh;

    .brand {
        font-size: 1.3rem;
        font-weight: 600;
        background: $bg-primary;
        padding: 1rem 1rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    p {
        font-size: 0.7rem;
        background: $bg-primary;
        padding: 1rem 1rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
}

.container {
    // background-image: linear-gradient(to right top, #165bc2, #2164cd, #2b6dd7, #3476e2, #3c7fed);
    background-image: linear-gradient(to right top, #07689f, #0978aa, #1988b3, #2c98bc, #40a8c4);

    .submit {
    transition: all 0.2s ease;
        &:hover {
        transform: translate(0, -3px);
                }
            }

  .modal i {
      color: #DC3545;
  }

  .box-2 {
      border-top: 2px solid #f8f8f8;
      border-spacing: 15px 50px;
      border-collapse: separate;
      padding-top: 3rem;
      h1 {
          font-size: 3rem;
          font-weight: 600;
      }
  }

  .card {
    background: #a9dbf8;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: $text-secondary;
  }

  .btnSubmit{
      background: $bg-warning;
      color: $bg-purple;
      font-weight: 500;
      font-size: 1.2rem;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .btnUpdate {
      background: $bg-purple;
      color: $text-primary;
  }

  .btnDelete {
      background: $bg-red;
      color: $text-primary;
  }
  
}