* {
  font-family: 'Montserrat', sans-serif;
  border-radius: 1px !important; }

  .newSuccess {
    background: #9DDFD3;
    color: #1f1f1f; }

    .newDanger {
      background: #D7385E;
      color: #EBF9FA; }

      .newWarning {
        background: #FFC93C;
        color: #1f1f1f; }

        .nav-box {
          min-height: 20vh; }
          .nav-box .brand {
            font-size: 1.3rem;
            font-weight: 600;
            background: #EBF9FA;
            padding: 1rem 1rem;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; }
            .nav-box p {
              font-size: 0.7rem;
              background: #EBF9FA;
              padding: 1rem 1rem;
              box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; }

.container {
  background-image: linear-gradient(to right top, #07689f, #0978aa 25%, #1988b3 50%, #2c98bc 75%,
    #40a8c4); }
  .container .submit {
    transition: all 0.2s ease; }
    .container .submit:hover {
      transform: translate(0, -3px); }
  .container .modal i {
    color: #DC3545; }
    .container .box-2 {
      border-top: 2px solid #f8f8f8;
      border-spacing: 15px 50px;
      border-collapse: separate;
      padding-top: 3rem; }
      .container .box-2 h1 {
        font-size: 3rem;
        font-weight: 600; }
  .container .card {
    background: #a9dbf8;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: #1f1f1f; }
    .container .btnSubmit {
      background: #FFC93C;
      color: #31326F;
      font-weight: 500;
      font-size: 1.2rem;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }
      .container .btnUpdate {
        background: #31326F;
        color: #EBF9FA; }
        .container .btnDelete {
          background: #D7385E;
          color: #EBF9FA; }
