$bg-primary: #f6fafa;
$bg-secondary: #1a1a1a;
$text-primary: #f0f0f0;
$text-secondary: #252525;
$bg-blue: #07689F;
$bg-success: #9DDFD3;
$bg-danger: #D7385E;
$bg-warning: #FFC93C;
$bg-purple: #31326F;
$bg-red: #D7385E;


* {
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px !important;
}

.newSuccess {
    background: $bg-success;
    color: $text-secondary;
}

.newDanger {
    background: $bg-danger;
    color: $text-primary;
}

.newWarning {
    background: $bg-warning;
    color: $text-secondary;
}

.nav-box {
    min-height: 10vh;

    .brand {
        font-size: 1.3rem;
        font-weight: 600;
        background: $bg-primary;
        color: $text-secondary;
        padding: 0.6rem 1rem;
        box-shadow: rgba(150, 150, 150, 0.25) 0px 14px 28px, rgba(173, 173, 173, 0.22) 0px 10px 10px;
    }

    p {
        font-size: 0.7rem;
        background: $bg-primary;
        padding: 0.6rem 1rem;
        box-shadow: rgba(173, 173, 173, 0.25) 0px 14px 28px, rgba(158, 158, 158, 0.22) 0px 10px 10px;
    }
}

.container {
    background: rgb(240, 240, 240);
    box-shadow: rgba(192, 192, 192, 0.25) 0px 14px 28px, rgba(70, 70, 70, 0.22) 0px 10px 10px;

  .modal i {
      color: #DC3545;
  }

  .box-2 {
      padding-top: 3rem;

      .box-content{
        border-top: 2px solid $bg-secondary;
        border-right: 2px solid $bg-secondary;
        border-top-right-radius: 6px !important;
        border-top-left-radius: 3px !important;
        border-bottom-right-radius: 0px !important;
      }
      h1 {
          font-size: 3rem;
          font-weight: 600;
          color: $text-secondary;
      }

      p {
          color: #dddddd;
          font-weight: 200;
          color: $text-secondary;
      }
  }

  .card {
    background: $bg-primary;
    box-shadow: rgba(187, 187, 187, 0.25) 0px 14px 28px, rgba(185, 185, 185, 0.22) 0px 10px 10px;
    color: $text-secondary;

    h4 {
        font-size: 1.3rem;
    }

    span {
        font-weight: 400;
    }
  }

  .btnSubmit{
      background: $bg-warning;
      color: $text-secondary;
      font-weight: 500;
      font-size: 1.2rem;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      transition: all 0.3s ease;
        &:hover {
        transform: translate(0, -3px);
        background: $bg-danger;
        color: $text-primary;
                }
  }

  .btnUpdate {
      background: $bg-purple;
      color: $text-primary;
  }

  .btnDelete {
      background: $bg-red;
      color: $text-primary;
  }
  
  
}


.box-content2{
    border-top: 2px solid $bg-secondary;
    border-right: 2px solid $bg-secondary;
    border-top-right-radius: 6px !important;
    border-top-left-radius: 3px !important;
    border-bottom-right-radius: 0px !important;
  }
  h1 {
      font-size: 3rem;
      font-weight: 600;
      color: $text-secondary;
  }

  p {
      color: #dddddd;
      font-weight: 200;
      color: $text-secondary;
  }