* {
  font-family: 'Montserrat', sans-serif;
  border-radius: 6px !important; }

  .newSuccess {
    background: #9DDFD3;
    color: #252525; }

    .newDanger {
      background: #D7385E;
      color: #f0f0f0; }

      .newWarning {
        background: #FFC93C;
        color: #252525; }

        .nav-box {
          min-height: 10vh; }
          .nav-box .brand {
            font-size: 1.3rem;
            font-weight: 600;
            background: #f6fafa;
            color: #252525;
            padding: 0.6rem 1rem;
            box-shadow: rgba(150, 150, 150, 0.25) 0px 14px 28px, rgba(173, 173, 173, 0.22) 0px 10px 10px; }
            .nav-box p {
              font-size: 0.7rem;
              background: #f6fafa;
              padding: 0.6rem 1rem;
              box-shadow: rgba(173, 173, 173, 0.25) 0px 14px 28px, rgba(158, 158, 158, 0.22) 0px 10px 10px; }

.container {
  background: #f0f0f0;
  box-shadow: rgba(192, 192, 192, 0.25) 0px 14px 28px, rgba(70, 70, 70, 0.22) 0px 10px 10px; }
  .container .modal i {
    color: #DC3545; }
    .container .box-2 {
      padding-top: 3rem; }
      .container .box-2 .box-content {
        border-top: 2px solid #1a1a1a;
        border-right: 2px solid #1a1a1a;
        border-top-right-radius: 6px !important;
        border-top-left-radius: 3px !important;
        border-bottom-right-radius: 0px !important; }
        .container .box-2 h1 {
          font-size: 3rem;
          font-weight: 600;
          color: #252525; }
          .container .box-2 p {
            color: #dddddd;
            font-weight: 200;
            color: #252525; }
  .container .card {
    background: #f6fafa;
    box-shadow: rgba(187, 187, 187, 0.25) 0px 14px 28px, rgba(185, 185, 185, 0.22) 0px 10px 10px;
    color: #252525; }
    .container .card h4 {
      font-size: 1.3rem; }
      .container .card span {
        font-weight: 400; }
  .container .btnSubmit {
    background: #FFC93C;
    color: #252525;
    font-weight: 500;
    font-size: 1.2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.3s ease; }
    .container .btnSubmit:hover {
      transform: translate(0, -3px);
      background: #D7385E;
      color: #f0f0f0; }
  .container .btnUpdate {
    background: #31326F;
    color: #f0f0f0; }
    .container .btnDelete {
      background: #D7385E;
      color: #f0f0f0; }
